*.log
.DS_Store
.env
.env.backup
.env.production
.rnd
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/connectips/private.key
/storage/app/connectips/*.pfx
/storage/app/connectips/*.p12
/storage/app/connectips/*.pem
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
